{% extends 'blog/base.html' %}

{% block content %}
    <div class="password_reset">
        <form method="POST" action="{% url 'password_reset' %}" class="password_reset_form"> {% csrf_token %}
            <div class="back_to_login">
                <p>Back to <a href="{% url 'login' %}">Login</a></p>
            </div>
            <h3>Reset Password</h3>
            <p>Enter your email address below to receive an email with instructions to reset your / password.</p>
            {{ form.as_p }}
            <p><input type="submit" name ="submit" value="Submit" class="btn" /></p>
        </form>
    </div>
{% endblock %}
