{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="content-for-page">
        <p><img src="{% static "images/aerial-silks.jpg" %}" alt="AERIAL SILKS" width="600" height="375" align="left" vspace="15" hspace="15">
        <h3>AERIAL SILKS (ВОЗДУШНЫЕ ПОЛОТНА)</h3></p>
        <p>Неповторимое чувство полета и свободы подарят уроки Aerial Silks – популярного сегодня направления. Акробатика, пластика танца и актерское мастерство тесно переплелись в нем, привлекая желающих попробовать себя в новом стиле, ранее считавшемся доступным лишь для цирковых воздушных акробатов. Завораживающее действо разворачивается на ваших глазах: то ритмичное, то плавное, а то одновременно соединяет в себе ритмику и плавность движений. Далеко не каждый спортсмен может рискнуть работать на полотнах, не пройдя специальное обучение! Однако сегодня Воздушные полотна можно освоить, несмотря на сложность и мысль, что у вас это точно никогда не получится!</p>

        <p>Сейчас популярность Aerial Silks в Днепре и других городах страны набирает обороты, поэтому наш Талант Центр «Dan Dance Complex» приглашает желающих научиться работе с Воздушными Полотнами и пройти обучение под руководством наших опытных наставников.</p>

        <p>История зарождения Aerial Silks</p>

        <p>С английского языка сочетание Aerial Silks переводится как «Воздушные полотна» или «Воздушные шелка» – именно полотна и служат основным инвентарем для занятий. Набравшись терпения и регулярно занимаясь, можно через некоторое время проделывать невероятные па, трюки, которые раньше казались недостижимыми. Даже если вы не намерены посвятить жизнь этому направлению, вы получите массу эмоций, которые запомнятся на всю жизнь! Ведь вы одновременно становитесь акробатом, гимнастом и артистом, который способен на приличной высоте подарить зрителю необычайное представление. Настоящий профессионал в этом стиле – это спортсмен и танцор в одном лице.</p>

        <p>Существует различные гипотезы по поводу появления гимнастических упражнений на полотнах. По первой из них что-то похожее было в Китае, когда правила династия Цин, а зрелищные представления были очень востребованы и развивались быстрыми темпами. Существовавшая тогда гимнастика на ремнях отличалась сложными трюками, что и требовалось зрителю.</p>

        <p>По второму предположению идея зародилась во Франции, а ее автором стала студентка цирковой школы: в 1959-ом году ею впервые был исполнен номер на отрезе полотна. Прошло немало лет, пока направление было обособлено и выведено на публичное обозрение: почти 40 лет спустя, в 1995-ом, зрители по достоинству смогли оценить номер И.Водель на полотне, который затем включили в программу шоу Cirque Du Soleil.</p>

        <p>Непросто отдать предпочтение той или иной гипотезе – они обе имеют право на жизнь. Сегодня главное, что есть школы по Aerial Silks во многих городах мира, а это означает, что желающие заниматься смогут найти хорошего педагога, а у зрителя будет возможность получить удовольствие от прекрасного зрелища!</p>

        <p>Эффект занятий на полотнах</p>

        <p>Любой вид спорта, танец совершенствует тело и душу, заставляя стремиться к лучшему. Переборов первый страх и неуверенность, вы почувствуете, что становитесь другим человеком.</p>

        <p>1.Вы избавитесь от неуверенности в себе и своих силах. Вы поверите в свои неисчерпаемые возможности и повысите самооценку.</p>

        <p>2.Приобретете грациозность, плавность движений. Занимаясь на полотне, вы не просто работаете со спортивным инвентарем, вы соприкасаетесь с настоящим искусством, вы «летаете» на крыльях!</p>

        <p>3.Коллектив единомышленников. В Талант Центре «Dan Dance Complex» вы найдете поддержку опытных тренеров, которые поведут по пути познания этого удивительного стиля.</p>

        <p>4.Постановка и достижение цели. Если вы сказали себе: «Да, я хочу научиться работать на Воздушных Полотнах», то пример опытного педагога-наставника будет вдохновлять вас на достижение результата, показывая, что нет ничего невозможного.</p>

        <p>5.Вырабатывается сильный характер и умение «собраться в кулак» при выполнении сложных трюков.</p>

        <p>6.Вы получите огромную пользу для всего организма: улучшится самочувствие, появится гибкость, станет стройнее фигура и уйдет лишний вес. Так как на полотнах требуется хорошая растяжка (будут специальные упражнения), это станет отличной профилактикой заболеваний опорно-двигательного аппарата.</p>

        <p>Непростое интересное направление. Что такое Aerial Silks?</p>

        <p>Чтобы работать на полотне, понадобится освоить базовые элементы: обрывы, обмотки (узлы) и поднимания. Работа проводится на свободных воздушных полотнах и на так называемых «качелях» – завязанных полотнах. Освоив основные положения, вы начнете поистине парить над полом. Не следует бояться: даже простейшие элементы и трюки осваиваются и отрабатываются на малой высоте, до полутора метров над полом.</p>

        <p>1.Подъемы нужны для работы на «верхах», классифицируются на базовый, русский и французский виды.</p>

        <p>2.Узлы отличаются статичностью положения исполнителя, обматывающего полотном свое тело или его часть.</p>

        <p>3.Обрывы – самый захватывающий дух элемент. После обмотки тело должно падать с высоты с раскручиванием части полотна и остановкой за счет намотанной на тело другой части. Обрывы бывают простыми и с кручением. Элемент не просто сложный, но и достаточно опасный.</p>

        <p>Только после овладения основным курсом, тренер разрешает «подняться на высоту» и начинать осваивать более сложные трюки и элементы. Так, обрывы делаются при высоте потолков не ниже четырех метров. В Центре «Dan Dance Complex» оборудованные кондиционерами залы имеют необходимую для тренировок высоту и хорошую акустику.</p>

        <p>Прежде чем записываться на этот вид танцев, подойдите объективно к оценке своих возможностей. Если вы по жизни далеки от спорта и мира танцев, не имеете начальной физподготовки, на полотнах вам придется туго, если вообще это будет возможно. Работа на Воздушных Полотнах не предусматривает страховки, поэтому осваивайте другие виды танцев, тренируйте тело и переходите к занятиям на полотнах.</p>

        <p>Особо уделите внимание растяжке и тренировке силы в мышцах: если вам элементарно не под силу забраться по канату, то мечты о работе на полотнах следует отложить на некоторое время. Займитесь силовыми упражнениями, потому что руки должны выдерживать вес тела танцора. К тому же, вы должны обладать достаточной гибкостью и цепкостью, потому что полотно гладкое и соскользнуть с него – пара пустяков!</p>

        <p>Хотя на занятиях работают все мышцы, не они одни определяют успех освоения полотен. Не менее важно умение владеть телом, удерживать равновесие; невозможны тренировки без развитой координации и хорошей реакции. Но не стоит сразу разочаровываться и ставить точку при первых неудачах на тренировках: как в любом другом виде спорта или танца необходим кропотливый труд, упорство и желание добиться результата. Каждое занятие станет шагом к исполнению мечты – полету в воздухе.</p>

        <p>Как проходят занятия?</p>

        <p>Как и везде, в освоении полотен мы двигаемся от простого к сложному. Начинается знакомство со снарядом с кручения, что тренирует вестибулярный аппарат и помогает адаптироваться к вращению, не вызывая отрицательных явлений (подташнивание, головокружение). Адаптация у каждого ученика проходит индивидуально и занимает различное время: кто-то уже после пары тренировок привыкает к вращениям, у кого-то на это может уйти месяц. Не стоит отчаиваться, получится у всех, кто по-настоящему хочет научиться. Кстати, после наших тренировок вам будет не страшна «морская болезнь», вы просто не будете замечать качку!</p>

        <p>Первыми упражнениям наряду с вращениями будут различные висы на руках, потом включатся в работу ноги. Постепенно вы будете овладевать полотнами, а для приобретших навыки танцоров предусмотрены и парные занятия. Они основаны на полном доверии к партнеру и умении чувствовать друг друга. Это воспитывает неимоверное чувство ответственности, когда знаешь, что от твоих действий зависит здоровье, а то и жизнь другого человека.</p>

        <p>В какой одежде тренироваться?</p>

        <p>Работа на пилоне требует максимального оголения от танцовщицы для максимального сцепления со снарядом. В противоположность этому, на полотнах категорически нельзя заниматься в оголенном виде! Можно запросто повредить кожу о плотную ткань при скольжении вниз или обрыве. Поэтому обязательно – леггинсы, топик, майка или футболка. Можно приобрести специальный цельношитый костюм.</p>
    </div>
{% endblock %}
