{% load static %}

<html>
    <head>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <div class="title_main_page">
            <title>DDC Talant Center</title>
        </div>
    </head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <p><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></p>
            <p><a href="{% url 'logout' %}" class="top-menu"><input type="submit" class="btn" value="Logout" /></a></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><input type="submit" class="btn" value="Login" /></a>
        {% endif %}
        <h1>TALANT CENTER</h1>
        <h1> DDC</h1>
        <h2>Танцевать может каждый</h2>
        <ul id="navbar">
            <li><a href="{% url 'main' %}">Главная</a></li>
            <li><a href="{% url 'post_list' %}">Новости</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
<!--         <p>
            <ul>
                <li>Набор в группу начался 01.09.2019</li>
                <li>Возраст участниц от 6 до 9 лет</li>
                <li>Расписание занятий: Вторник - 18:00, Пятница  - 18:00</li>
                <li><a href='https://dandancecomplex.com/'>dandancecomplex.com</a></li>
            </ul>
        </p> -->
    </div>
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
