{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="content-for-page">
        <p><img src="{% static "images/breakdance.jpg" %}" alt="BREAK DANCE" width="600" height="375" align="left" vspace="15" hspace="15">
        <h3>BREAK DANCE</h3>
        Появление B-boying или breaking (break dance) в шоу Дж.Брауна произвело эффект «разорвавшейся бомбы»! Этот уличный танец, одно из направлений культуры Хип-Хоп, зародился в Нью-Йорке на исходе шестидесятых ХХ века. В качестве отдельного танца брейкинг получил признание в 1973-ем. Существует предположение, что своим названием он обязан тому, что выступление исполнителей приходилось на паузу (англ. Break) в проигрышах музыкальных композиций. Второе наименование «b-boying» сформировалось от объявления танцоров – юношей и девушек – «B-boys! B-girls!». Новый стиль стал быстро популярным, активно распространяясь по планете.</p>

        <p>Школа танцев по Break Dance в Днепре приглашает всех желающих научиться Брейк Данс или поднять уже имеющийся уровень до профессионального. Если Вы хорошо подготовлены физически, то освоение танцевальных элементов не составит большого труда. Занятия проводятся в специально оборудованных танцзалах с отличной акустикой и кондиционерами.</p>

        <p>Что такое Break Dance?</p>

        <p>Танец складывается из 4-х составляющих: toprock, downrock, power moves и freezes toprock, хотя у нас его подразделяли на «верхний» и «нижний», что было ошибкой. Как такового нижнего брейка нет. Вообще, о Break dance можно говорить лишь как о совокупности разных движений и смене уровней из выполнения в танце.</p>

        <p>На заре своего появления B-boying имел теснейшую связь с Хип-Хопом, но сегодня среди настоящего музыкального изобилия можно выбрать оптимальный темп и кач именно для этого танца. Надо повториться, что уроки по B-boying предполагают хорошую физподготовку и владение собственным телом, поскольку основа танца – акробатические и гимнастические элементы.</p>

        <p>Из истории танца</p>

        <p>Рождение брейкинга пришлось на конец шестидесятых–начало семидесятых прошлого века, сам он стал основой для появления стиля – Хип-Хоп, давшему название новой молодежной Хип-Хоп культуре. Несмотря на явное сходство брейк-данса с бразильским капоэйра – боевым танцем, «прародители» B-boying Ричард «Сумасшедшие Ноги» Колон и «Кен Свифт» Габберт (участники коллектива Rock Steady Crew) утверждают, что в жизни ни разу не видели этого танца. Они говорят, что их вдохновителем стал Брюс Ли, снимавшийся в кинофильмах в ролях супер героев, владеющих боевыми искусствами. На сегодня группа переросла в настоящую Империю Танца, всемирно известную. На протяжении всего существования менялся состав, но всегда участники коллектива выдавали новаторские идеи, оригинальный движения, способствующие развитию Брейк Данс.</p>

        <p>Из чего складывается танец?</p>

        <p>1.Toprock или Shuffle</p>

        <p>Исполнитель стоя «работает ногами».</p>

        <p>Downrock или Footwork</p>
        <p>Танцор, держась на руках, производит движения ногами.</p>

        <p>3.Freezes – фризы</p>

        <p>Исполнитель замирает и фиксирует положение тела в позе, больше подходящей для акробатики. У многих брейкеров есть свои «фишки» – авторские фризы, присущие его манере исполнения.</p>

        <p>4.Power Moves или Air Moves</p>

        <p>Непростые, очень зрелищные движения, состоящие из акробатических элементов и вращений.</p>

        <p>5.Floats</p>

        <p>Сложное для выполнения неподготовленному физически человеку, поскольку необходимо сохранять равновесие, вращаясь на руках.</p>

        <p>Проведение турниров</p>

        <p>Организация и проведение соревнований по break dance свидетельствует о его большой популярности и широкому распространению в мире. Breaking battles проводятся с целью демонстрации мастерства исполнителей. Это могут быть состязания одиночек (1х1) или команд. Начало было положено диджеем Kool Herc, который «ломал» биты винилов, а на танцполе в это время исполнители выходили поочередно «ломать» движения в танце.</p>

        <p>Батлы приобрели популярность и в качестве средства «для выяснения отношений»: под лозунгом «Боритесь танцем, а не оружием» потенциальные противники выходили на площадку. Стремление оказаться лучше подталкивало на включение фантазии, что приводило к появлению оригинальных трюков. Над своим визави танцор одерживал победу особым исполнением элементов, четкими скоростными забежками.</p>

        <p>Кроме того, соревнования побуждали объединяться в команды, в которых рождался характерный стиль, свойственный конкретному коллективу.</p>

        <p>В качестве сопровождения совсем необязательно делать упор на Хип-Хоп музыкальных композициях. Для брейка основным параметром выбора служит качающий бит. Танец можно адаптировать практически под любую музыку, главное, чтобы ритм был 110–135 ударов.</p>

        <p>Какую форму использовать для тренировок?</p>

        <p>Если Вы решили посещать школу танцев по break-dance, то спортивная форма не понадобится. Одежда должна быть удобной и стильной одновременно, не стесняющей движений. Это могут быть широкие штаны, майки, пайты, футболки. Включаются в «костюм» банданы, шапочки, напульсники и наколенники.</p>
    </div>
{% endblock %}
