{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="content-for-page">
        <p><img src="{% static "images/contemporary.jpg" %}" alt="CONTEMPORARY" width="600" height="375" align="left" vspace="15" hspace="15">
        <h3>CONTEMPORARY</h3></p>
        <p>Чувственный, пластичный, невероятно красивый стиль Contemporary совмещает в себе несколько танцевальных техник, соединяя элементы западного и восточного направлений. Танцевать, следуя своей Природе и чувствам, достигая гармонии с самим собой и своим телом – вот отличительная черта стиля!</p>

        <p>Школа танцев по Contemporary в Днепре открыта для всех, кто хочет научиться Контемпорари, понять глубинную сущность этого танца и добиться хороших результатов. Занятия проводятся в оборудованных танцзалах с отличной акустикой и кондиционерами.</p>

        <p>Что такое Contemporary?</p>

        <p>Contemporary (разг. «контемп») – танцевальное направление, появившееся в пятидесятых годах прошлого столетия. Своему рождению стиль «обязан» театральному искусству и танцшколам Америки и Европы, его предшественниками были танцевальные направления Модерн и Постмодерн. Если Вы знакомы с одним из этих стилей, то будет проще работать на уроках по контемпу. Главным исходным стилем для Contemporary общепринято считать балет. По мере развития и становления Контемпорари соединил множество родственных направлений, даже элементы индийской йоги, пилатеса и других практик. Конечно, этот стиль не может обойтись без импровизации, потому что исполнитель прислушивается к своему телу и двигается соответственно.</p>

        <p>Немного из истории</p>

        <p>Можно сказать, что идеологическая основа Contemporary заложена известной американской танцовщице начала прошлого столетия – Айседорой Дункан. Она считала танец естественным продолжением движений человека, отражением его чувств, эмоций, характера. Интересен тот факт, что к созданию стиля приложили руку не только хореографы и исполнители, но и музыканты (Франсуа Дельсарт и Эмиль Жак-Далькроз): их произведения вдохновляли на создание удивительно гармоничных танцевальных постановок.</p>

        <p>Неоценим вклад в развитие Contemporary хореографов, усилиями которых появился Модерн: Рут Сен-Дени, Дорис Хамфри, Мэри Вигман, Пол Тейлор, Рудольф фон Лабан, Марта Грэм, Лои Фуллер, Хосе лимон, Мари Рамберт, Мерс Каннингем. Без них contemporary dance не стал бы тем, что мы видим сейчас.</p>

        <p>С началом нового тысячелетия танец не ушел в небытие, напротив, он получил «второе дыхание», встав в ряду наиболее популярных и успешных в коммерческом плане стилей танца. Он изучается в вузах и танцевальных студиях, включается в театральные постановки и телешоу. Зрителям «Танцуют все!» очень хорошо знаком этот стиль, лучшие представители страны которого были членами жюри – Константин Томильченко и Раду Поклитару.<p>

        <p>Для постановки контемпа подходят многие произведения, однако чаще всего используются Бен Ховард, Эд Ширан, СИА, Адель, Джеймс Блант, Адель, Элли Голдинг, Линкин Парк, Мьюз, Океан Эльзы, Кадная, Аллан Райман, Колдплей, Джиган, Джеймс Артур, Китон Хенсон, Kwabs, Ник Джонас, Деми Ловато, Тейлор Свифт, Пинк, Сэм Смит, Селена Гомес, Блейк МакГрат, Джеймс Бэй.</p>

        <p>Какая одежда подходит для занятий?</p>

        <p>На занятия в школе танцев по Contemporary подойдет свободная, удобная одежда, либо напротив, прилегающая, но не сковывающая движений. Обувь не понадобится вовсе, зачастую тренироваться Вы будете босиком.</p>
    </div>

{% endblock %}
