{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="content-for-page">
        <p><img src="{% static "images/detskayahoreografiya.jpg" %}" alt="DETSKAYA-HOREOGRAFIYA" width="600" height="375" align="left" vspace="15" hspace="15">
        <h3>ТАНЦЫ ДЛЯ ДЕТЕЙ В ДНЕПРЕ</h3>
        Занимаясь танцами, дети становятся сильными и ловкими, гибкими и пластичными, приобретают прекрасную физическую форму, навыки общения и работы в коллективе.</p>

        <p>Пришедшим в нашу школу танцев девочкам и мальчикам предстоит заниматься в творческой атмосфере, что будет способствовать развитию духовности, хорошего вкуса и чувства прекрасного.</p>

        <p>Девчонки и мальчишки отличаются высокой активностью, поэтому танцы им интересны, ребята с удовольствием занимаются у наших молодых, но опытных наставников. Кроме того, танцы для детей приносят пользу для физического развития, воспитания силы воли и умения правильно распоряжаться своим временем. Для детей младшего возраста занятия организованы в игровой форме, что позволяет быстро воспринимать и заучивать даже сложные танцевальные элементы.</p>

        <p>Для детей 7-10 лет очень важно проводить обучение от простого к сложному, ведь недостаточно развитая координация и некоторая скованность не позволяют быстро осваивать трудные элементы. Наша школа танцев для детей ставит перед собой задачу научить каждого пришедшего к нам ребенка красиво танцевать и двигаться, несмотря на то, что многие родители сомневаются в способности своего ребенка усвоить сложные элементы танца.</p>

        <p>Отбросьте даже малейшие сомнения! Если есть желание, то невозможное становится возможным! Танцы для детей в Днепре, обучение которым можно пройти в нашей школе – отличная возможность не только учиться у профессионалов, но и найти друзей-единомышленников, реализовать свои творческие устремления, интересно и с пользой проводить время. Для кого-то детская школа танцев станет путевкой в жизнь, определив будущую профессию.</p>

        <p>Работа в нашей школе построена таким образом, что при регулярном посещении ребенок спустя полгода продемонстрирует отличные результаты:<p>

        <p>– знание основ хореографии;</p>

        <p>– импровизацию под музыкальное сопровождение;</p>

        <p>– исполнение 5-8 комбинаций танца в одном-двух стилях;</p>

        <p>– хорошее чувство ритма;</p>

        <p>– отличную физподготовку;</p>

        <p>– выполнение многих элементов акробатики (колесо, мостик, шпагат и др.).</p>

        <p>Любой ребенок – личность, поэтому мы учитываем индивидуальные особенности каждого, кто приходит к нам. Педагоги школы танцев «Dan Dance Complex» не только смогут подобрать «ключик» к ребенку, но и составят индивидуальную программу занятий с учетом физических и психологических особенностей Вашего сына или дочки.</p>

        <p>Для наших занятий характерна дружественная веселая атмосфера помогающая обучению!</p>

        <p>Наши ученики выступают не только на сценах Украины, но за рубежом. Проведение зачетов и экзаменов позволяет определить степень профессионального мастерства наших воспитанников. Детские танцы воплощают в себе спорт и искусство. Немаловажным обстоятельством станет то, что дети, посещая занятия, становятся более коммуникабельными, способными к командной работе.</p>
    </div>
{% endblock %}
