{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="content-for-page">
        <p><img src="{% static "images/hiphop.jpg" %}" alt="hiphop" width="600" height="375" align="left" vspace="15" hspace="15">
        <h3>HIP-HOP</h3>
        Один из популярнейших современных танцевальных стилей Хип-Хоп поможет раскрепоститься и почувствовать свое тело на все 100%! Сегодня он по праву считается составляющей мировой молодежной культуры, берущей свое начало с 70-х годов прошлого столетия и уверенно завоевавшей сердца многих в конце XX–начале XXI веков. Независимо от социального положения и политических убеждений, любителей Хип-Хопа роднит любовь к молодежной культуре, музыке и самовыражению через телодвижения.</p>

        <p>Школа танцев по Hip-Hop в Днепре приглашает всех желающих научиться Хип-Хопу или усовершенствовать уже имеющиеся навыки. Конечно, неплохо, если у Вас хорошая физическая подготовка – будет легче осваивать элементы, но и далекий от спорта человек вполне может добиться отличных результатов, если есть желание и стремление достичь цели! Проведение занятий организовано в оборудованных танцзалах с хорошей акустикой и кондиционерами.</p>

        <p>С чего начинался Hip-Hop</p>

        <p>Термин «hip-hop» появился с легкой руки диджея и вожака негритянского клана Южного Бронкса Африка Бамбата Его считают одним из «прародителей» музыки хип-хоп наравне с Кул Герком и Грандмастером Флэш. Именно Бамбата принадлежит определение составляющих молодежной культуры хип-хоп:</p>

        <p>– философия knowledge;</p>

        <p>– читка рэпа эмсиинг (MCing);</p>

        <p>– музыка ДиДжеинг (DJing);</p>

        <p>– изобразительное направление граффити (graffiti);</p>

        <p>– танец (breaking).</p>

        <p>Breaking лег в основу Hip-Hop, ставшего одним из наиболее признанных молодежью танцевальных стилей. Позднее к брейкингу добавились фанковые локинг (locking) и паппинг (popping), их родиной является калифорнийский Кэмптон. Как и Крамп (танец, внешне похожий на драку, но по сути абсолютно миролюбивый), Хип-Хоп становится антиподом асоциальности – уличным дракам, преступности, наркомании, которыми «славились» проблемные районы. Устраиваемые подростками батлы по Хип-Хоп позволяли проявить себя и выяснить отношения с соперником без насилия, не подключая кулаки и оружие. Такие своеобразные состязания также помогали выплеснуть эмоции участникам и остальным присутствующим! При этом не стоял вопрос, где научиться Хип-Хопу – учителем была улица.</p>

        <p>Хип-Хоп пришелся по душе и представительницам прекрасного пола, которые желали преподнести себя в самом выгодном виде, проявить свои чувства. Таким образом в танец приходят сексуально-привлекательные элементы, при этом движения как бы расслаблены, направлены в пол. Это свидетельство происхождения стиля от африканских танцев: народы Африки поклоняются Божеству, находящемуся в земле. Этим объясняется расслабленность коленей и низкое положение тела. Первые Хип-Хоп танцы сопровождались барабанным стуком, поэтому в стиле четко, даже жестко, звучит ритм.</p>

        <p>Расцвет Hip-Hop</p>

        <p>Появившись в Нью-Йорке, на исходе ХХ века Хип-Хоп стал мейнстримом в молодежной мировой культуре: молодые люди Европы, Австралии, РФ, Кореи и Японии подхватили новое направление. Этому способствовал показ на больших экранах танцевальных кинофильмов, которые стали культовыми, а также соответствующее музыкальное направление, тесно связанное с Хип-Хоп.</p>



        <p>Проведение Хип-Хоп соревнований и фестивалей – новая веха развития</p>

        <p>То, что направление получило массовость и признание в мире, говорит проведение международных соревнований, как проводятся чемпионаты бальников и народников, модернистов и рок-н-рольщиков!</p>

        <p>Проведение командных состязаний по брейкингу – Battle of the Year берет начало в 90х годах, в Германии. Проводятся региональные турниры, после чего победившие в них встречаются на международном фестивале во Франции (г.Мнопелье).</p>

        <p>В нулевых в Америке стартовали соревнования World Hip-hop Dance Championships для одиночек и танцевальных групп. В коллективе от 5 до 8 человек, которые должны показать 3 стиля направления Хип-Хоп.</p>

        <p>В Париже в 2002-ом впервые прошли уличные соревнования по разным направлениям стиля. Инициатором состязаний стал Брюс Икэнджи. В этом же году в Англии состоялся первый чемпионат по уличному Хип-Хопу, в котором принимают участие одиночки, пары, квартеты и команды.</p>

        <p>Объединенная Танцевальная Организация (UDO) проводит первенства по Хип-Хопу в Европе и Америке.</p>

        <p>Турнир Red Bull BC One, созданный компанией-производителем энергетиков Red Bull , проводится с 2004г. в разных странах среди 16 сильнейших бибоев по схеме 1:1.</p>

        <p>Хип-Хоп сегодня</p>

        <p>Приверженцы старого Хип-Хопа утверждают, что от первоначального танца не осталось практически ничего – Старая школа «умерла». Ведь что такое Хип-Хоп по их мнению? Это тот танец, который немыслим без андеграунда больших городов и не может ничего иметь общего с коммерческой «причесанной» культурой. В то же время именно противостояние улицы и коммерческой культуры дало развитие множеству ответвлений, которые развиваются, совершенствуются на фоне появления новых вариантов.</p>

        <p>Хип-Хоп можно определить, как общее название множества направлений. То, что танцуется под хип-хоп музыку, среди исполнителей которой у танцоров наиболее популярны: 50 центов, Акон, Баста, Хулио, Сайпресс Хилл, Дидди, Доктор Дре, Эминем, Джей-Зи, Джастин Тимберлейк, Канье Уэст, Келис, Лил Джон, Лил Вейн, Ллойд Бэнкс, Лукас, Лудакриса, МС Хаммер, Нелли, Ники Минаж, Оникс, Шон Пол, Уилл Смит, Уиз Халифа, Экзибит, М. А. И., Бруно Марс, Крис Браун, Рианна, Сиара, Бейонсе, Ашер, Насри.</p>

        <p>Среди всего обилия трудно вычленить Хип-Хоп в «чистом виде». Отличительным признаком Хип-Хоп культуры служит заимствование: новый стиль обогащается от близкородственных и мало похожих стилей музыки, танцев. Импровизация и открытость для нового – это достаточно значимое препятствие, мешающее четкому разделению по стилю, направлению и технике исполнения. В танце могут довольно гармонично уживаться техники различных направлений – от народного до техно, здесь собираются воедино естественные для человека движения и совсем уж «фантастические». В Хип-Хопе не существует границ и ограничений, это феноменальный стиль, который стал достоин выделения в самостоятельное большое направление.</p>

        <p>Если Вы сказали себе: «Я хочу танцевать Хип-Хоп», то это значит, что Вы достаточно уверенный в себе человек, ведь в этом танце демонстрируются достоинства танцора в соревновательной, порой несколько «наступательно-угрожающей», форме. Это танец самоутверждения, уверенности в себе, где нет места сантиментам. Однако большой ошибкой будет считать танцы Хип-Хоп «злыми»: напротив, танцор стремится добиться признания у зрителей, а потому танец не может быть по-настоящему агрессивным.</p>

        <p>Подразделение</p>

        <p>Деление на группы можно считать достаточно условным: выше говорилось, что в Хип-Хопе непросто выделить одну линию танца.</p>

        <p>По уровню исполнения:</p>

        <p>– партерный брейкинг;</p>

        <p>– «верха», то есть все танцевальные движения на ногах (Street dance, Street Style);</p>

        <p>– смешанный, сочетание брейкинга и «верхов» (фанк, иллюжен).</p>

        <p>Если на заре своего зарождения Хип-Хоп во всех своих проявлениях был культурой улицы, своего рода вызовом официально признанной, то по мере развития происходила коммерциализация, «облагораживание» и, как следствие – перемещение на спортивные и танцевальные площадки. На улице сейчас не осталось того Хип-Хопа, с которого начиналось, разве что отдельные танцоры зарабатывают (!) на жизнь, либо устраивают батлы на площадях.</p>

        <p>Техники и стили Хип-Хопа</p>

        <p>1.New school</p>

        <p>Появление стиля приходится на 2-ю волну роста популярности хип-хоповой культуры. Название принадлежит японцам, однако американцам, как родоначальникам, пришлось не по нраву отклонение от старых норм.</p>

        <p>2.Классический соревновательный</p>

        <p>Это базовое направление, четко разделенное по манере и технике исполнения, музыке и лексике. Здесь нет массы высококлассных танцоров, поскольку экспериментирование и импровизация не в чести: главное – чистое исполнение и хорошая техника.</p>

        <p>3.Альтернативный соревновательный, фристайл</p>

        <p>Смешанный, фанковый стиль можно назвать даже больше манерой, которой свойственны широкоамплитудные движения, акцентируемый вниз/наверх кач, «порция» джаз танца, включение прыжковых элементов; вся эта «смесь» чередуется с подчеркнуто надменным, даже кичливым исполнением. Зрелищный Хип-Хоп, танцуемый под любую хип-хоп музыку и импровизируемый на ходу.</p>

        <p>4.Коммерческий</p>

        <p>Его называют также попсовым или сценическим. Получил широкое признание у зрителей и хореографов за возможность комбинирования джазового танца, брейкинга, «верхов». Здесь практически нет места импровизации: номер отрабатывается в соответствии с задумкой хореографа; в танце присутствуют синхронные связки, а сам характер не столь агрессивный.</p>

        <p>5.Клубный</p>

        <p>Можно увидеть на клубной сцене, танцполе. Это свободная импровизация и связки в стиле GO-GO. В ограниченном пространстве сильно не «разгонишься» для брейкинга, потому «верхам» здесь отводится главная роль. Однако есть место экспериментам в движениях, что и привело к появлению пограничных стилей – Vogue, фристайл, абстракт денс хаус.</p>

        <p>Дополнительным критерием подразделения можно назвать «географию»:</p>

        <p>– Североамериканский с массой взрывных моментов (как хороший пример – крамп).</p>

        <p>– Европейский, которому более свойственно развитие стилей «старой» школы, чем созданное чего-то нового. Характерные особенности связок – пластика и логичность, без «взрывов».</p>

        <p>Какая нужна одежда для танца?</p>

        <p>Решив отправиться в школу танцев по Хип-Хопу, не придется бегать в поисках специальной спортивной формы. На уроки по Хип-Хопу Вы можете приходить в мешковатых (или модных сегодня – зауженных) штанах, объемных майках или футболках, рубашках, пайтах, свитшотах, кенгурушках и т.п. Для занятий также понадобятся кроссовки. Часто на выступления надеваются бейсболки, трикотажные шапочки.</p>
    </div>
{% endblock %}
