{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="content-for-page">
        <p><img src="{% static "images/jazzfunk.jpg" %}" alt="jazzfunk" width="600" height="375" align="left" vspace="15" hspace="15">
        <h3>JAZZ FUNK</h3>
        Джаз Фанк с присущей ему яркой эмоциональной окраской привлекает множество поклонников этого стиля с самого своего появления в начале текущего столетия. Сразу надо отметить, что к джазу, как таковому, это танцевальное направление не имеет абсолютно никакого отношения. Также можно сказать и еще об одном «недоразумении» относительно этого заводного танца: все заявления, что это вообще не отдельный стиль, якобы существует только Джаз и есть Фанк. Однако смешение этих двух стилей породило нечто особенное, ни на что непохожее, что завоевало сердца многих танцоров во всем мире и заявило о себе в Шоу бизнесе. А это означает, что у Джаз Фанка таки есть свое будущее! Это действительно новый красивый танец, достойный признания!</p>

        <p>Сегодня наиболее раскрученные звезды в подтанцовках отдают предпочтение Jazz-funk: Кристина Агилера, Леди Гага, Джанет Джексон, Бейонсе и Бритни Спирс стали одними из активнейших популяризаторов стиля, включая эти танцы в свои выступления.</p>

        <p>Школа танцев по Jazz-funk в Днепре приглашает всех желающих научиться Jazz-funk или усовершенствовать уже имеющиеся навыки. Красивый, дерзкий и манерный танец привлекает молодых людей, независимо от пола, возраста и мировоззрения. Хорошая физподготовка, умение и желание импровизировать, креативность – черты, присущие исполнителям Джаз Фанка. Если хотите стать одним из них, то для Вас всегда открыты двери Талант Центра «Dan Dance Complex», где опытные наставники проводят тренировки в оборудованных танцзалах, оснащенных кондиционерами.</p>

        <p>Что такое Джаз Фанк?</p>

        <p>Этот еще не до конца признанный самостоятельным стиль по праву считается одним из самых популярных. Появившись в начале текущего столетия в Лос-Анджелесе, Джаз Фанк очень быстро распространился по миру, став при этом успешным коммерческим проектом: его можно назвать основным танцем, используемым в хореографических постановках, при съемках клипов и выступлениях «вживую» звезд зарубежной и отечественной сцены.</p>

        <p>Основоположниками являются американские хореографы Бобби Ньюберри, Брайан Фридман и Кевин Махер. Сегодня это общепризнанные лидеры в Джаз Фанк хореографии и самые крутые танцоры в данном стиле. Ньюберри доводилось работать со звездами первой величины: Пинк, Эминем и другие использовали постановки Бобби. Его мастер классы пользуются популярностью и на родине, и в Азии, и в Европе.</p>

        <p>Именно эта тройка хореографов-исполнителей впервые начала обосабливать jazz-funk, выделяя его как самостоятельное танцевальное направление. Гремучая смесь базовых движений нескольких стилей – jazz dance, hip-hop, waacking и vogue с женственной исполнительской манерой в сочетании с экспрессивностью и дерзостью дала в результате яркий эмоциональный танец, востребованный у профессионалов и любителей. Кстати, Ньюберри стиль принес не только славу, но и ощутимое материальное вознаграждение: из интервью танцора в 2011-ом следует, что его заработок составляет свыше 263000 долларов в год.</p>

        <p>И о предыстории</p>

        <p>Хоть и считается, что увлечение джаз фанком началось с наступлением нового тысячелетия, в прошлом веке были известны стили Waaking и Vogue. Оба направления зародились много лет назад в среде афроамериканских и латиноамериканских исполнителей, показывающих свое искусство в гей-клубах.</p>

        <p>При этом Vogue позаимствовал у известного журнала мод свое будущее название вместе с артистичностью, позировками, движениями моделей. Около 60 лет назад темнокожий район Нью-Йорка Гарлем стал родоначальником Вога. Исполнители нетрадиционной ориентации выступали на конкурсах, организаторами которых были так называемые дома – houses. Это были Дом Феерии, Дом Мальчишки, Дом Эскады, Дом эбенового Дерева и прочие. Своим появлением Вог обязан танцору Вилли Ниндзя, снявшемуся в неигровой ленте «Париж горит». Именно он вдохновил певицу Мадонну на создание клипа «Vogue» в девяностом году прошлого столетия. Этим синглом за стилем окончательно закрепилось название Vogue, который спустя десятилетие стал одним из слагаемых джаз фанка.</p>

        <p>Waaking моложе стиля Vogue на 10 лет: он зародился в семидесятых. Исполняли его в клубах, где собирались представители секс меньшинств. Это направление прекрасно соединялось с диско и вскоре завоевало признание и у исполнителей с традиционной ориентацией. Ламонт Петерсон впервые воспользовался движениями Waaking, идеологическая «подоплека» стиля сформировалась под влиянием Тайрона Проктора, Блинки и Микки Лорда. На сегодня стиль остается самостоятельным, однако его вклад в рождение нового направления – «Джаз Фанк» трудно переоценить.</p>

        <p>Почему Джаз Фанк настолько популярен?</p>

        <p>Широкому распространению нового танцевального течения способствовала его «понятность». Сотканный из множества стилей танец понятен каждому, причем это динамичный способный быстро меняться в соответствии с изменением звучания музыки. Практически во всех современных клипах, где включены танцы, мы видим сегодня именно Jazz-funk.</p>

        <p>Взяв из множества стилей-прародителей только лучшее, Джаз Фанк сложился как новое импульсивное направление, отражающее нашу современность: энергия, динамика, экспрессия, сексуальность. Языком танца, телодвижениями, зачастую импровизированными, исполнитель показывает себя, одновременно демонстрируя свое внутреннее состояние.</p>

        <p>Что характерно для этого стиля?</p>

        <p>Уже упоминалась «бешеная» энергия и импульсивность. Верхняя часть тела как бы дает толчок, импульс движению тела вперед, в сторону. Пластичность в сочетании с резкостью невольно у каждого зрителя вызывает интерес. Для джаз фанка также свойственны «волны» — переход от рваных движений к более плавным. При подобной манере создаются красивые эффектные движения, однако как таковой танец практически невозможно разбить на составляющие. Он живет и «умирает» вместе с музыкой: пока идет музыкальное сопровождение, есть танец; вне музыки он не существует.</p>

        <p>Это чрезвычайно харизматичный танец, в котором личность танцора играет огромную роль. Сегодня довольно просто найти, где научиться Джаз Фанку, но Вы должны быть готовы «оголить» свою душу перед зрителем. Ваше состояние и харизма превратят танец в настоящее представление! Это танец-раскрытие, танец-самовыражение!</p>

        <p>Стоит повторить, что помимо желания «хочу танцевать Джаз Фанк», следует обратить внимание на свою физическую подготовку: скорость работы, сложность элементов и присутствие акробатики в танце слабаку будут не под силу! Не требуется специальная классическая подготовка, хотя знание азов хореографии облегчает работу.</p>

        <p>Танцевать можно под различные композиции, но хореографы этого направления любят Бейонсе, Сиару, Рианну, Бритни Спирс, Леди Гагу, Николь Sherzinger, Нелли Фуртадо, Дженнифер Лопес, Мадонну, Уиллоу Смит и Ники Минаж, Пинк, Мисси Эллиот, Шакиру, Ройзин Мерфи, Мигель, Келли Роуленд, Тимберленд, Джанет Джексон, Кайли Миноуг и других популярных исполнителей.</p>

        <p>Какая одежда требуется для занятий</p>

        <p>Для посещения уроков по jazz-funk следует подбирать одежду, в которой будет легко и удобно. Вместе с тем Ваше одеяние не должно скрывать ваши достоинства, оно должно подчеркивать сексуальность, но при этом не скатываться к вульгарности. Это могут быть различные довольно облегающие футболки и майки, может укороченные; штаны можно взять, как для хип-хопа – широкие, либо зауженные (лосины, джинсы в обтяжку). Подчеркнуть индивидуальность и дополнить образ помогут браслеты, серьги, парики и другие аксессуары, используемые женщинами. То, что в обычной жизни будет смотреться неестественно – слишком яркие вызывающие расцветки, принты, леопардовые мотивы – в Джаз Фанке будут смотреться весьма органично! Не бойтесь привлекать внимание!</p>
    </div>
{% endblock %}
