{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="content-for-page">
        <p><img src="{% static 'images/latina.jpg' %}" alt="LATINA" width="600" height="375" align="left" vspace="15" hspace="15">
        <h3>LATINA</h3>
        Неподдельные эмоции, страстность и чувственность – этим наполнено каждое движение в любом из танцев Латины. Кажется, что партнеры «живут» в танце, выражая свои чувства, выясняя отношения между собой и проявляя глубоко скрытые переживания. Один и тот же танец, постановка от одного и того же хореографа у разных исполнителей будет смотреться по-разному, ведь этот танец тонко выражает самые сокровенные желания, которые каждый показывает по-своему.</p>

        <p>В латиноамериканском танце переплелись ритмы африканских барабанов с испанской музыкой, традициями культуры индейцев. Окончательное формирование стиля приходится на конец 19-го столетия, а в наши дни вряд ли найдется человек, незнакомый с бачата, румбой, ча-ча-ча или меренге!</p>

        <p>Сегодня во многих студиях бального и современного танца даются уроки Латины, которые можно подразделить на бальные и социальные. Первые подразумевают отличное владение телом, хорошую физподготовку и чувство ритма – такие танцы вполне сравнимы со спортом. Социальный, доступный всем танец может освоить любой желающий, разучив несколько базовых движений и импровизируя в дальнейшем. Но в любом случае танец Латина – красиво, ярко, чувственно!</p>

        <p>Об истории Латины. Что такое Latina?</p>

        <p>Поистине гремучая смесь индейских, испанских и африканских культурных традиций явила новое направление в танцевальном мире – Латина. Чувственные, волнительные и раскрепощенные движения партнеров не могли оставить равнодушными всех, кто видел столь эмоциональный танец! Как в зеркале в нем отразились раскованность, дерзость, смелость восставших рабов острова. Поселившиеся во время оккупации на острове британцы, переселившиеся испанцы и французы добавили местному колориту танца мягкости, грациозности и романтичности. К началу ХХ века своеобразные движения танца кубинских рабов становятся популярными в США, а позднее и в Европе.</p>

        <p>Надо отметить, что чопорное общество «цивилизованных» стран далеко неоднозначно восприняло и уж точно не сразу единодушно признало латиноамериканские танцы. В церкви они вовсе порицались как нечто греховное, требующее запрета. Но европейская молодежь иначе смотрела на этот вопрос и воспринимала танец как прекрасный способ самовыражения, показа своих отношений с противоположным полом. Красота самых откровенных движений не позволяла скатываться к вульгаризму, открывая чувственность двоих – мужчины и женщины. Сегодня латиноамериканские танцы занимают прочные позиции в танцевальном мире и входят в программу соревнований по бальным танцам. Латиноамериканские танцы в Днепре  пользуются огромной популярностью, поэтому Талант Центр «Dan Dance Complex» просто не мог не организовать школу танцев по Latina!</p>

        <p>Виды Latina</p>

        <p>Являясь своеобразным миксом различных течений, латиноамериканские танцы подразделяются на несколько видов.</p>

        <p>1.Самба</p>

        <p>Страсть и откровенность в движениях пришли в этот танец от негритянских рабов, завезенных в Южную Америку. «Просвещенная» Европа всеми силами стремилась запретить самбу, однако «запретный плод сладок» и танец только приобретал все более и более широкую популярность. Появившиеся в двадцатых–тридцатых годах ХХ века бразильские карнавалы принесли еще большую известность этому кипящему страстью танцу!</p>

        <p>2.Румба</p>

        <p>Это танец африканских рабов, населяющих Кубу. Движения корпусом тела, сопровождающиеся выстукиванием на подручных предметах, отличаются особой характерностью. В своем последующем развитии танец приобретает больше сексуальности. Мужчина явно претендует на внимание партнерши, которая занимает как бы «оборонительное» положение.</p>

        <p>3.Ча-ча-ча</p>

        <p>Игривость и зажигательные движения в танце буквально завораживают. В отличие от румбы, в ча-ча-ча отмечается динамика событий, появляются дополнительные шаги. До сих пор не утихают споры о происхождении танца, есть даже мнение о его случайном возникновении. На Кубе это и сейчас один из самых любимых танцев: ча-ча-ча можно увидеть и на дружеской вечеринке, и в кафе, и на улице.</p>

        <p>4.Пасадобль</p>

        <p>Динамичный, страстный и энергичный танец-борьба! В этом традиционном танце Испании отображается коррида, где в качестве тореадора предстает мужчина, ну и несложно догадаться, кого представляет женщина!</p>

        <p>5.Джайв</p>

        <p>Появившийся в 40-х годах прошлого столетия, изначально был разновидностью свинга. Танец южноамериканских негров, проявляющих в нем раскованность, сексуальное влечение, экспрессивность. Джайв также входит в конкурсные танцевальные программы. Исполнителям этого искрометного быстрого танца требуется хорошая физподготовка. Прыжковые элементы отсутствуют.</p>

        <p>6.Сальса</p>

        <p>В этом танцевальном «соусе» («сальса» по-испански означает «соус») органично соединились кубинские элементы танца и джаз. Родина танца – Нью-Йорк. Партнеры в танце тесно прижимаются друг к другу, потому нередко между ними вспыхивает «искра страсти».</p>

        <p>7.Сон</p>

        <p>Напоминающий африканскую румбу танец родился на Кубе. Буквально сотню лет назад белые кубинцы вообще не танцевали его, но уже в тридцатых годах прошлого века в музыкальном мире сон становится популярным. Необычная ритмика, медленный темп вывели сон в лидеры в числе латиноамериканских танцев.</p>

        <p>Какая одежда требуется для занятий?</p>

        <p>Если вы хотите танцевать Latina, то продумайте свой костюм, потому что на занятии нужно видеть, как работают ваши ноги. Отлично подойдут лосины, велосипедки. Верх может состоять из топика, майки или футболки. Отлично смотрятся и не сковывают движений гимнастические и балетные купальники с трико, а коротенькая юбочка придаст женственности. Можно использовать комбидресс или боди, под которые надеваются лосины или колготки. В любом выбранном варианте в первую очередь необходимо обращать внимание на удобство одежды.</p>
    </div>
{% endblock %}
