<html>
    <head>
        <title>DDC Talant Center</title>
    </head>
    <body>
        <div>
            <h1>DDC и группа Контемп</h1>
            <p>
                <ul>
                    <li>Набор в группу начался 01.09.2019</li>
                    <li>Возраст участниц от 6 до 9 лет</li>
                    <li>Расписание занятий: Вторник - 18:00, Пятница  - 18:00</li>
                    <li><a href='https://dandancecomplex.com/'>dandancecomplex.com</a></li>
                </ul>
            </p>
        </div>

        <div>
            <h2><a href="">Первое выступление группы</a></h2>

            <p>Впервые группа приняла участие в Family Fest 2019</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/O5EHkzTK9dg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>Дата публикации: 12.12.2019, 12:14</p>
        </div>

        <div>
            <h2><a href="">Второе выступление состоится 28.12.2019</a></h2>

            <p>Видео и другие подробности о выступлении девочек будут доступны 29.12.2019</p>
            <p>Дата публикации: 13.12.2019, 12:10</p>
    </body>
</html>
