.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active, .page-header h2 {
    color: #ffffff;
    font-size: 36pt;
    text-align: center;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 5px 5px;
  width: 100%;
  text-align: center;
  background-color: #ff9400;
}

#navbar li {
    display: inline;
}

#navbar a {
  color: #000000;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
#navbar a:hover {
  text-decoration: underline;
}

.content {
    margin-left: 40px;
    color: #000000;
}

h1, h2 {
    font-family: 'Lobster', fantasy;
}

h3, h4 {
    font-family: 'Verdana';
}

.date, p {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    font-family: 'Verdana';
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    font-family: 'Verdana';
}

.row {
    margin: 0px 0px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 20px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content-for-main-page p {
    color:  #A0A0A0;
}

.content-for-page a {
    float: left;
}

#contact_name, #contact_email, #contact_message {
    width: 100%;
    margin-top: 20px;
    display:block;
    margin-bottom:20px;
    padding-right:20px;
    padding-left:20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-weight: 300;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
}

/* Стили для кнопки отправить */
.btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ff9400;
    background: #ff9400;
    background-image: -ms-linear-gradient(top, #ff6600 0%, #ff6600 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    color: #e1e1e1;
    outline: none;
}

.btn:active {
    margin-top:1px;
    border: 1px solid #949191;
    background: #ffcc00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600));
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
    background: -moz-linear-gradient(top, #ffcc00, #ff6600);
    background: -ms-linear-gradient(top, #ffcc00, #ff6600);
    background: -o-linear-gradient(top, #ffcc00, #ff6600);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%);
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    color: #fff;
}
